<!-- base.html -->
{% load static %}
<html>

<head>
    <title>{% block title %}{% endblock title %}</title>
    {% block css %} {% endblock css %}
    <link rel="stylesheet" href="{% static 'css/estilos_base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

    {% block navbar %}
    <div class="fondo">
        <!-- Cabezera -->
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between" id="header">
                <img id="logo_mobike" class="col-12 col-sm-6 col-md-3" src="../static/img/Logotipo.png"
                    href="{% url 'home' %}" alt="logo">
            </div>

            <div class="inicio">
                <br>
                <br>
            </div>
            {% block content %} {% endblock content %}
            {% if not user.is_authenticated %}
            <div class="btnid">
                <a type="button" class="btn btn-primary btn-lg" href="{% url 'registrar_usuario' %}">Registrar</a>
                <br>
                <a type="button" class="btn btn-primary btn-lg" href="{% url 'login' %}">Iniciar sesión</a>
            </div>
            {% endif %}

            {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <div class="btnid">
                <a type="button" class="btn btn-primary btn-lg" href="{% url 'list_portico' %}">Pórticos</a>
            </div>
            <div class="btnid">
                <a type="button" class="btn btn-primary btn-lg" href="{% url 'listar_bicicletas' %}">Bicicletas</a>
            </div>
            <div class="btnid">
                <a type="button" class="btn btn-primary btn-lg" href="{% url 'ejecutivo_list' %}">Ejecutivo</a>
            </div>
            {% endif %}
            <div class="btnid">
                <a type="button" class="btn btn-primary btn-lg" href="{% url 'logout' %}">Cerrar sesión</a>
            </div>
            {% endif %}
            {% endblock %}


            <!-- carrusel -->
            <div class="row" id="carousel">
                <div class="col-sm-0 col-md"></div>
                <div class="col-xs-12 col-sm-10 col-md-8">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="../static/img/img1.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../static/img/img2.jpg" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../static/img/img3.jpg" alt="Four slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-0 col-md"></div>
            </div>
            <br>
            <br>
            <div class="flex-container">
                <div class="card" style="width: 14rem;">
                    <img src="../static/img/rsz_logo_la_reina.png" class="card-img-top" alt="Card image">
                    <div class="card-body">
                        <p class="card-text">Proyecto financiado por la Municipalidad de La Reina para una mejor
                            experiencia de transporte por la cuidad, ecológica y rentable.</p>
                    </div>
                </div>
                <div class="card" style="width: 14rem;">
                    <img src="../static/img/rsz_1trek_1.png" class="card-img-top" alt="Card image">
                    <div class="card-body">
                        <p class="card-text">Trek patrocinador oficial de MoBike, junto ellos aseeguramos una
                            calidad impeclacle de bicicletas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    {% block javascript %} {% endblock javascript %}
</body>

</html>