#header {
    background-color: rgb(238, 236, 234);
    padding: 2% 1% 2% 1%;
}

.jumbotron {
    display: flex;
    justify-content: center;
}

#boton {
    background-color: #6493c9;
    border-color: #6493c9;
}